#sellMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
}
#addingNEW{
		text-align:center;
}

.change-information-control-label{
	width:100%;
}

.show{
	width: 48%;
    height: 100%;
    border: 1px black solid;
    background-color: #d2cded;
    display: flex; 
    flex-direction: column;
    /*background-color: #c0c0c0;*/
    
}

.showWindow{
	height:90%;
	overflow-y: auto; 
}

.totalWindow{
	height:10%;
	background-color: #aca2dd;
}

.pick{
	width: 48%;
    height: 100%;
    /*border: 1px black solid;*/
    display: flex; 
    flex-direction: column;
    justify-content: space around;
    
   
}
.pickerHead{
	height:10%;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

#doneButton{
	color: #2e9247;
	background: white;
	border: none;
	border-radius: .2rem;
	margin: .5rem .5rem 1rem .5rem;
	letter-spacing: 1px;
}

.myMenuElementPickers{
	width: 100%;
    height: 90%;
    display: flex; 
    flex-direction: column;
    justify-content: space around;
   
}


.littlePicker{
	width:100%;
	height:100%;
	display: flex; 
    flex-direction: column;
    justify-content: space around;
}



#akiniaiPicker{
	display: none;
}
#saulesPicker{
	display:none;
}
#lesiaiPicker{
	display: none;
}
#kitkaPicker{
	display:none;
}
#dioptrijuPicker{
	display:none;
}


.newItems{
	margin:auto;
	width: 30%;
	text-align: left;
}

#atgalButton{
	color: #454cad;
	background: white;
  	border: none;
	border-radius: .2rem;
	margin: .5rem .5rem 1rem .5rem;
	letter-spacing: 1px;
	width: 70%;
}