.datePickingContainer{
	display: flex;
	flex-direction:column;
	justify-content: center;
	align-content: center;
	
}
.datePicking {
	display:flex;
	flex-direction:row;
	width:55%;
	justify-content: flex-end;
}


#sellMain {
    display: flex;
    flex-direction: row;
    justify-content: space-around;	
}
#addingNEW{
		text-align:center;
}

.change-information-control-label{
	width:100%;
}

.show{
	width: 48%;
    height: 100%;
    border: 1px black solid;
    background-color: #d2cded;
    display: flex; 
    flex-direction: column;
    /*background-color: #c0c0c0;*/
    
}

.showWindow{
	height:90%;
	overflow-y: auto; 
}

.totalWindow{
	height:10%;
	background-color: #aca2dd;
}

.pick{
	width: 48%;
    height: 100%;
    /*border: 1px black solid;*/
    display: flex; 
    flex-direction: column;
    justify-content: space around;
    
   
}
.pickerHead{
	height:10%;
	display:flex;
	flex-direction: row;
}

#doneButton{
	color: #2e9247;
	background: white;
	border: none;
	position: absolute;
	right: 10px;
}

#addButton{
	color: #20819e;
	background: none;
	border: none;
	align-self: flex-end;
	width: 20px;
}


.littlePicker{
	width:100%;
	height:100%;
	display: flex; 
    flex-direction: column;
    justify-content: space around;
}



#dioptrijuPicker{
	display:none;
	flex-direction: column;
}


.newItems{
	margin:auto;
	width: 30%;
	text-align: left;
}



<!--   -->
.itIsPrescription{
	display:none;
	flex-direction: column;
}
.centerMe{
  margin: auto;
  width: 60%;
  padding: 10px;
}
.showItems{
  margin: auto;
  width: 60%;
  padding: 10px;
}

.searchHead{
	height:10%;
}
.myItems{
	height: 80%;
	overflow-y: auto; 
}




.glyphicon-lg
{
    font-size:4em
}
.info-block
{
    border-right:5px solid #E6E6E6;
    border-bottom:5px solid #E6E6E6;
    margin-bottom:25px;
    background-image: linear-gradient(to top left, #d1d0d8, white);
    
}
.info-block .square-box
{
    width:50px;
    min-height:55px;
    margin-right:11px;
    text-align:center!important;
    background-color:#676767;
    padding:10px 0
}
.info-block.block-info
{
    border-color:#20819e
}
.info-block.block-info .square-box
{
    background-color:#20819e;
    color:#FFF
}